In [1]:
import pandas as pd
import numpy as np
import csv

In [58]:
tr_data = pd.read_csv('/Users/srikaramara/transactions/tx_transfers_10-11-2020_etherum_tx_csv-000000000025.csv', sep=',')

In [77]:
# First Question
blk_no = tr_data.drop_duplicates(subset=['tx_hash'])
dff = blk_no.groupby(["block_number","block_time"]).gas_price.sum().reset_index()
dff.sort_values(by = "gas_price", kind='quicksort')

        block_number               block_time        gas_price
10391       10977762  2020-10-02 16:48:26 UTC                3
172086      11148041  2020-10-28 23:06:08 UTC       1000000000
290162      11272097  2020-11-17 00:12:11 UTC       1210000002
14912       10982569  2020-10-03 10:51:22 UTC       1331000003
85713       11057157  2020-10-15 00:36:23 UTC       2357947700
...              ...                      ...              ...
319263      11302532  2020-11-21 16:25:04 UTC   39392392355312
154363      11129521  2020-10-26 03:03:51 UTC   42553307387358
97188       11069177  2020-10-16 20:45:28 UTC   53354827703465
296188      11278377  2020-11-17 23:23:21 UTC  100180000000000
250970      11230722  2020-11-10 16:00:02 UTC  125175100000000

[376649 rows x 3 columns]

In [ ]:
#second