In [18]:
import pandas as pd
import numpy as np
import csv

In [39]:
tr_data = pd.read_csv('/Users/srikaramara/transactions/tx_transfers_10-11-2020_etherum_tx_csv-000000000025.csv', sep=',')

# First Question
first_ques = tr_data.sort_values(by = "gas")

In [40]:
first_ques[["block_number","block_time","gas"]]

         block_number               block_time       gas
809119       11164702  2020-10-31 12:42:46 UTC     23639
849119       11120479  2020-10-24 17:39:45 UTC     24152
355200       11193967  2020-11-05 00:28:33 UTC     24728
1474004      11207203  2020-11-07 01:07:09 UTC     24728
154374       11045507  2020-10-13 05:50:43 UTC     27061
...               ...                      ...       ...
298309       11308904  2020-11-22 15:44:01 UTC  12428846
126058       11308904  2020-11-22 15:44:01 UTC  12428846
12486        11241128  2020-11-12 06:10:30 UTC  12450251
832164       11330883  2020-11-26 00:53:57 UTC  12462405
608478       11070381  2020-10-17 01:13:45 UTC  12499867

[1740577 rows x 3 columns]

In [33]:
# Second_question

blk_no = tr_data.groupby(['block_number']).size()

In [27]:
blk_no

block number
3110000.0    29
3110001.0    17
3110002.0    17
3110003.0    13
3110004.0    13
             ..
3110813.0    18
3110814.0    10
3110815.0     9
3110816.0    19
3110817.0     6
Length: 818, dtype: int64

In [34]:
# Third Question ~ ~ 
tr_fee_dec = tr_data.sort_values(by = "gas")

In [35]:
tr_fee_dec

,tx_hash,from_addr,to_addr,block_number,token_qty,block_time,block_hash,gas,gas_price,tx_index_in_block,total_gas
809119,0xe0f756f3ccb9e6ef5d460ffcccfa1fd2e49c16efe072...,0x8bb18f1eeb8d170f4edfe2c5d008986171b4e572,0x000000000000000000000000000000000000dead,11164702,2500,2020-10-31 12:42:46 UTC,0x8a8feffc3b1047a6782385cf17123d5c9a2a100c7e7b...,23639,85000000000,8,343453
849119,0x2c7be3487b1738b3b0478016689b3b65c48e9a9ad3cc...,0x4008a6505154d6c1405ea3bf74f53c3937c72098,0x4008a6505154d6c1405ea3bf74f53c3937c72098,11120479,1157920892373161954235709850086879078532699846...,2020-10-24 17:39:45 UTC,0xdd53523b6cd5f2bb62a0e0e48cfd0715021b3e578f9c...,24152,17250000000,46,4488429
355200,0x0543edf66e95795d6295a30bdfed568cd12bf3a6a1ed...,0xe1e32f5dababc551b67f2250a2f1213d477654a2,0x48b884fe1b6f92ca21646260001307b8e5b83e25,11193967,77436201600000000,2020-11-05 00:28:33 UTC,0xf42eaf0d6e0cfdd293b5ed24371caa2484e868118f3b...,24728,22800000000,133,7221166
1474004,0x981e39f458f674689cb19f2e368820b670333eb81e28...,0xf51471c3329d3016187d14ffc0ce8938b63ab6b9,0x48b884fe1b6f92ca21646260001307b8e5b83e25,11207203,34455934800000000,2020-11-07 01:07:09 UTC,0x25792ec6855d6f1b2051e04bf5bad9c979fc03c9cfc7...,24728,68400000000,219,12380499
154374,0x91b9a9aa9ad77da226cdcdbbd9a7e46ca19f2a971174...,0xfad3924039eb2c6869d87e724dd3545c656650ba,0x42cacc3698ce067e12e050244fea2ba3b67fa579,11045507,1000000000000000000,2020-10-13 05:50:43 UTC,0xa94ab94752a7ea0dcdff065fce6596f9b31a65758e5b...,27061,36350000000,203,12461689
...,...,...,...,...,...,...,...,...,...,...,...
298309,0x46e92b10c54537c18b821906d012ec48cb9bd1642889...,0xbecc8fda656926a8aed60edb18a7eb0e137a8732,0xbc8d089824461048a06d300dff88bb7357d88b3b,11308904,135774710592564317360,2020-11-22 15:44:01 UTC,0x840a1c5a9c3a8f6f882f7469a881909eaa2d5f304af2...,12428846,47000000000,2,12442644
126058,0x46e92b10c54537c18b821906d012ec48cb9bd1642889...,0xbecc8fda656926a8aed60edb18a7eb0e137a8732,0x396318f99f636c83117ecf6a7670999581877025,11308904,111518683273122089150,2020-11-22 15:44:01 UTC,0x840a1c5a9c3a8f6f882f7469a881909eaa2d5f304af2...,12428846,47000000000,2,12442644
12486,0x10d9db8415e5e512aead4c529e5d933f8170cbb8951c...,0x74fec1a0af965f397e896323783ad580dc7d82e4,0x0146404c1a337e89d7b150b49693a5866d3ec9e2,11241128,8000000000000000000000,2020-11-12 06:10:30 UTC,0x7c63eee32373121b47557f324bfcbcab66179e501600...,12450251,15000000000,2,3703087
832164,0x8df63a07c918ee92424fe8debf602ada9193ec47acaa...,0x14d3c592762a4802727eab1cb45c69d61529c5f5,0xa4715c8eea284cd0c70fc938609b3a0607a56990,11330883,249437077808356267200400,2020-11-26 00:53:57 UTC,0x945b129b387257db222048f55edbdb298a16e9e441af...,12462405,70000000000,0,165546
608478,0xb88b70e1d6aa22c2d9dfe7db09d1f80771229c7bbf9a...,0x9758e42ace0c2fc2dbee42c4b288bca5b99f3333,0xece3ebede6aa45f888653740a487b17f2253d688,11070381,69000000000000000000,2020-10-17 01:13:45 UTC,0xfc23a98808bb8245a35e93eac0d211db34ff3dbd7025...,12499867,30000000000,0,116943