# Useful Snippets

In [8]:
! pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (1.3.1)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas) (1.21.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [16]:
# Checking the redundancy 
ls = tr_data.groupby(['tx_hash','block_time']).size()
temp = tr_data.loc[tr_data['total_gas'] == '1005']

In [22]:
blk_no.loc[tr_data['total_gas'] == '']

Empty DataFrame
Columns: [tx_hash, from_addr, to_addr, block_number, token_qty, block_time, block_hash, gas, gas_price, tx_index_in_block, total_gas, tr_fee]
Index: []

In [ ]:
# Time Calculation

import time
start_time = time.time() # Before exec

print("--- %s seconds ---" % (time.time() - start_time)) # After exec

# Start Prog

In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
tr_data = pd.read_csv('/Users/srikaramara/transactions/tx_transfers_10-11-2020_etherum_tx_csv-000000000025.csv', sep=',')

### First Question

In [3]:
import time
start_time = time.time()
# First Question
final_df = tr_data.drop_duplicates(subset=['tx_hash']) # blk no is dropped duplicates dataframe
dff = final_df.groupby(["block_number","block_time"]).gas.sum().reset_index()
dff.sort_values(by = "gas", kind='heapsort')
dff.rename(columns={'gas': 'block_gas'}, inplace=True) # dff = first q
# dff.to_csv('/Users/srikaramara/Desktop/first_q.csv')
print("--- %s seconds ---" % (time.time() - start_time))

--- 2.3465678691864014 seconds ---

### Second Question

In [4]:
tmp_1 = final_df.groupby(['block_number','block_time']).size().to_frame('transactions')
# tmp_1.to_csv('/Users/srikaramara/Desktop/second_q.csv')

### Third Question

In [34]:
# Vectorization using numpy
final_df = final_df.reset_index()
total_gas_np = final_df.loc[:,'total_gas']
gas_np = final_df.loc[:, 'gas']

total_gas = total_gas_np.values
gas = gas_np.values

new_col = np.subtract(total_gas,gas)

final_df['transaction_fee'] = new_col.tolist()
thir_q = final_df.sort_values(by = "transaction_fee", kind='heapsort')
thir_q[['tx_hash','block_number','block_time','transaction_fee']]

,tx_hash,block_number,block_time,transaction_fee
595548,0xb88b70e1d6aa22c2d9dfe7db09d1f80771229c7bbf9a...,11070381,2020-10-17 01:13:45 UTC,-12382924
810475,0x8df63a07c918ee92424fe8debf602ada9193ec47acaa...,11330883,2020-11-26 00:53:57 UTC,-12296859
779254,0xd4d272094e195de654ca1dea3602f841c5e9855cc2b9...,11022989,2020-10-09 19:03:40 UTC,-11701398
465635,0x6540e4075dea5ca4207b4ec4ee0608b9c0748acfc193...,11259702,2020-11-15 02:29:56 UTC,-11630557
281360,0x4186cb2d4ed16500b60748f5d511dbf4441a3d1b1cad...,11073913,2020-10-17 14:06:06 UTC,-11596521
...,...,...,...,...
1063168,0x9ba33f6ea0f197a2b188145964e2337b0a6b9c5a7c68...,11064715,2020-10-16 04:22:07 UTC,12475951
981349,0xaf92ac652e2e532fbc6acc4558110c84abf60f8e2f5a...,11096492,2020-10-21 01:22:42 UTC,12476234
372455,0x25b0c6e4c677470fa1a9ff8c48fc245da0b8e7dc32ed...,11252025,2020-11-13 22:23:36 UTC,12477907
1045369,0xb18afafc4af124487537a16711183834062fda006107...,11231218,2020-11-10 17:44:26 UTC,12488155
633191,0x300373f857ec7aa27cf89cf958ef67f141bed6c50196...,11355728,2020-11-29 20:22:19 UTC,12489973

### four Question

In [23]:
fourth_q = final_df.sort_values(["block_number", "gas_price"],ascending = (True, True), kind = 'heapsort')[['tx_hash','gas_price','block_number','block_time']]
#fourth_q.to_csv('/Users/srikaramara/Desktop/four.csv')
fourth_q

,tx_hash,gas_price,block_number,block_time
529337,0x93d089d5b93fb5f7bc54cfa252f3ca7274161273d5d9...,76000000000,10966874,2020-10-01 00:00:10 UTC
1341472,0x9f00dd606e920720b202696fecee0589b2e0e8754cf9...,316000000000,10966874,2020-10-01 00:00:10 UTC
1660864,0x1d5bb1ab8d9a82010d987901c73dcd2d186f4521233c...,316000000000,10966874,2020-10-01 00:00:10 UTC
875885,0x3f7e1ee46bf2ecae87770f2d7870630c568d75897088...,83000000000,10966875,2020-10-01 00:00:11 UTC
1196412,0xedb72cc7a68f606beb6c8a4f3b462c36d8c67e6031f6...,84000000000,10966875,2020-10-01 00:00:11 UTC
...,...,...,...,...
426669,0xe409dfda985b4c30d73a8c8c8c17122d442ea84ee114...,45000000000,11363268,2020-11-30 23:59:52 UTC
1013369,0x354219d485884e37b72d33cc26e74f11920cb6af22ef...,45000000000,11363268,2020-11-30 23:59:52 UTC
431704,0x6b824f5cb0d117302bf3b8643b7fa6833d3158caeae7...,126000000000,11363268,2020-11-30 23:59:52 UTC
314725,0x32c451654ecaf568584b24287d58e10834a704abaaaa...,45000000000,11363269,2020-11-30 23:59:56 UTC
668224,0x62d30a3406e34efae8683de7e327dce971cec749f9c3...,45000000000,11363269,2020-11-30 23:59:56 UTC

### Fifth Question

In [28]:
fifth_q = tr_data.sort_values(["block_number", "tx_hash"],ascending = (True, True), kind = 'heapsort')[['from_addr','to_addr','tx_hash','block_number','block_time']]

#fifth_q.to_csv('/Users/srikaramara/Desktop/fifth.csv')
fifth_q

,from_addr,to_addr,tx_hash,block_number,block_time
1732733,0xf5fff180082d6017036b771ba883025c654bc935,0x29e3b3c76e7ae0d681bf1a6bcee1c0e7d17dbaa9,0x1d5bb1ab8d9a82010d987901c73dcd2d186f4521233c...,10966874,2020-10-01 00:00:10 UTC
539946,0x2fa9c2f0e50800fb9a826b0a3cd0383df1ed9ff8,0x1d6432aefeae2c0ff1393120541863822a4e6fa7,0x93d089d5b93fb5f7bc54cfa252f3ca7274161273d5d9...,10966874,2020-10-01 00:00:10 UTC
1391995,0x11ef34572ccab4c85f0baf03c36a14e0a9c8c7ea,0x5799698cde26dbd98c529c42a054b6c32b6df5a5,0x9f00dd606e920720b202696fecee0589b2e0e8754cf9...,10966874,2020-10-01 00:00:10 UTC
900529,0x6a0661e1a21e1260f6bcf6b023b9166592a52d33,0x3f5ce5fbfe3e9af3971dd833d26ba9b5c936f0be,0x3f7e1ee46bf2ecae87770f2d7870630c568d75897088...,10966875,2020-10-01 00:00:11 UTC
779867,0x151445852b0cfdf6a4cc81440f2af99176e8ad08,0x83da1beeb89ffaf56d0b7c50afb0a66fb4df8cb1,0x52e65a5120593dd22834fdbda3beb99a1b2010048780...,10966875,2020-10-01 00:00:11 UTC
...,...,...,...,...,...
433950,0xf5e03b16b9f63b80b7616e399318c3b46325cc6c,0x0379da7a5895d13037b6937b109fa8607a659adf,0xe409dfda985b4c30d73a8c8c8c17122d442ea84ee114...,11363268,2020-11-30 23:59:52 UTC
342807,0xc462d8ee54953e7d7bf276612b75387ea114c3bf,0xcb5d152a5fd7b411dfff678d3fc786271c484ba1,0xe42b4ad0b00b9cee8d677bc621fa0d57db1106eda5d4...,11363268,2020-11-30 23:59:52 UTC
955722,0x51882184b7f9beed6db9c617846140da1d429fd4,0xcb5d152a5fd7b411dfff678d3fc786271c484ba1,0xeda877bfb8cb1ea063c9d5f264d1a0a7e912ca807c0c...,11363268,2020-11-30 23:59:52 UTC
319032,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xd291328a6c202c5b18dcb24f279f69de1e065f70,0x32c451654ecaf568584b24287d58e10834a704abaaaa...,11363269,2020-11-30 23:59:56 UTC
683931,0x0000000000000000000000000000000000000000,0x00c43a51a5e8970175e1172438c458e36a0809aa,0x62d30a3406e34efae8683de7e327dce971cec749f9c3...,11363269,2020-11-30 23:59:56 UTC

### Sixth Question !!! Look For Faster algorithm

In [43]:
six_pd = thir_q.loc[thir_q['block_number'] == 11147095] # O(n) Simple Search
# six_pd.to_csv('/Users/srikaramara/Desktop/sixth.csv')
six_pd[['tx_hash','transaction_fee','tx_index_in_block','block_number','block_time']]

,tx_hash,transaction_fee,tx_index_in_block,block_number,block_time
1655947,0x7489cd76d1cac7961783a1f5bbe1c0578215bc37980a...,7555877,95,11147095,2020-10-28 19:35:20 UTC
323759,0xb4ac2b8f44d65001d161eacf770b606256ea8a91ad75...,7694263,99,11147095,2020-10-28 19:35:20 UTC
533019,0xc31284bf31d00218f4ae1f2de63203a04b292d650077...,8790231,113,11147095,2020-10-28 19:35:20 UTC
1294666,0xd5684d71cb6cb0f15d55de57ad16a5a44b4d739b4f7d...,9972861,127,11147095,2020-10-28 19:35:20 UTC
1455913,0x0447b1af8f53f74bb579c69aff4afba01c231ccd8eb6...,10340226,130,11147095,2020-10-28 19:35:20 UTC

### Seventh Question

In [47]:
sev_pd = thir_q.loc[thir_q['tx_hash'] == '0xd9da28fefdcd33f0bfee00b4b159c092c8e1f627d224c2856216d5ccedfdbdf3']

# sev_pd.to_csv('/Users/srikaramara/Desktop/seventh.csv')
sev_pd [['tx_hash','transaction_fee','tx_index_in_block','block_number','block_time']]

,tx_hash,transaction_fee,tx_index_in_block,block_number,block_time
18195,0xd9da28fefdcd33f0bfee00b4b159c092c8e1f627d224...,7243996,101,11240377,2020-11-12 03:27:42 UTC

### Eighth Question

In [49]:
eight_df = final_df.loc[final_df['from_addr'] == '0x47ddfddff875851ba18526cb30e0d35868c8c79a']

eight_df[['from_addr','tx_hash','block_number','block_time','transaction_fee']]

# eight_df.to_csv('/Users/srikaramara/Desktop/eigth.csv')

,from_addr,tx_hash,block_number,block_time,transaction_fee
0,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0x08a0180ebd784b321e085d3e6fbf5f6c64ee4214b210...,11144065,2020-10-28 08:27:05 UTC,848038
230432,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0xee59a28b6ed75b0dfad8020ef40a53cf73555ebbbd70...,11195439,2020-11-05 05:59:50 UTC,1781000
546189,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0xde9a971b591735cdf78148cd801b963ce064af5bcb7b...,11144126,2020-10-28 08:38:52 UTC,1002318
634911,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0x1dd675b48e885fc9d25850562368ecf389f76982d455...,11226661,2020-11-10 00:48:09 UTC,3226497

### Nineth Question

In [52]:
nineth_df = final_df.loc[final_df['to_addr'] == '0x7a250d5630b4cf539739df2c5dacb4c659f2488d']

nineth_df[['from_addr','tx_hash','block_number','block_time','transaction_fee']]

# nineth_df.to_csv('/Users/srikaramara/Desktop/nineth_df.csv')

,from_addr,tx_hash,block_number,block_time,transaction_fee
1,0x0c4a68cf6857cc76fe946d04fe85fac5fae9625e,0x965f7b3b2e960a83f1275f2f2d1444079dfc9c0c7344...,11086830,2020-10-19 14:00:52 UTC,10015165
52,0x748a9631bad6af6d048ae66e2e6e3f44213fb1e0,0x72fc00f9567f7b74d32851c1a9c15c4fed5b6d48e657...,11311855,2020-11-23 02:43:58 UTC,6937965
78,0x69cfc0b5af7231b316de8681f81a205338e94973,0x2c1bdc836349e23725c2b3885d98fd92703ee7c98b3d...,11097714,2020-10-21 05:53:04 UTC,10923146
128,0x08411ab6777bcfd1167fae02ac452622e1572db7,0x0f1333d5adc03ed9093a08bc2c83a17f4804648f19d5...,11077878,2020-10-18 04:58:18 UTC,4089672
170,0xe3000235aedf35adf6828bba21a9455005dd3b1c,0xf4ec4ac392e6e834f0c1c346909b43d50edc09d59059...,10983517,2020-10-03 14:38:17 UTC,4472608
...,...,...,...,...,...
1667930,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0x4f453313ef3ff4b293ace5505d96ef8756aed5f41044...,11183197,2020-11-03 08:45:52 UTC,5178433
1667954,0x414fbf662fc98415dbee27c72013a6f3a937ed66,0x8c53c99164984673680fddbe41f50724a25a75e72e62...,10999588,2020-10-06 02:48:26 UTC,1981018
1667994,0x24b24af104c961da1ba5bccce4410d49aa558477,0x124e677f506f2ebaab493a3de12306017edfaf25661a...,11194928,2020-11-05 04:01:27 UTC,3013011
1668099,0x87c9524237a19338be7dbcac01d6d208ff31136f,0x5d00d7be0a21270624ccd3e703213e073eca4ecc1f25...,11243812,2020-11-12 16:19:22 UTC,5692060
1668107,0x8f017eb62b85d24210f9b14dadb5dcec6164625f,0x389ad9b06e77d50e77992046592c43946e33ce21368b...,10995117,2020-10-05 10:08:19 UTC,5286719

### Tenth Question

In [69]:
from_addr = '0x0c4a68cf6857cc76fe946d04fe85fac5fae9625e'
mx = tr_data.loc[tr_data['from_addr'] == from_addr]['token_qty'].max()
mn = tr_data.loc[tr_data['from_addr'] == from_addr]['token_qty'].min()

d = {'from_addr': from_addr, 'max_token_transfer': [mx], 'min_token_tranfer': [mn]}
tenth_pd = pd.DataFrame(data=d)
# tenth_pd.to_csv('/Users/srikaramara/Desktop/tenth_df.csv')