In [23]:
import pandas as pd
import numpy as np
import glob
import csv
import os
path = "/Users/srikaramara/transactions"
all_files = glob.glob(path + "/*.csv")
parent_list = os.listdir(path)
start_time = time.time()
li = []
count =0
for filename in parent_list:
    if count <32:
        print(filename)
        df = pd.read_csv(path+'/'+filename, index_col=None, header=0,usecols = ['tx_hash','block_number','block_time','gas'])
        df = df.drop_duplicates(subset=['tx_hash'])
        li.append(df)
    count+=1
        

tr_data = pd.concat(li, axis=0, ignore_index=True)
end_time = time.time() - start_time
end_time

tx_transfers_10-11-2020_etherum_tx_csv-000000000028.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000000.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000014.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000015.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000001.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000029.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000017.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000003.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000002.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000016.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000012.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000006.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000007.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000013.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000005.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000011.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000010.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000004.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000009.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000021.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000020.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000008.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000022.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000023.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000027.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000026.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000024.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000030.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000018.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000019.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000031.csv
tx_transfers_10-11-2020_etherum_tx_csv-000000000025.csv

289.4088342189789

In [24]:
tr_data

,tx_hash,block_number,block_time,gas
0,0x0d816a7fd91e58c22cd6464ba37c3e4059005bab9e23...,11258906,2020-11-14 23:38:00 UTC,500000
1,0x5f84e7398a1f14e95381051bfddafd80507c15911356...,11076619,2020-10-18 00:10:58 UTC,61795
2,0x3503d8ae4238bb1758bb247ac7cf53484574704a6ac4...,11324840,2020-11-25 02:24:09 UTC,84372
3,0x597a0ff163dfca1a0efaca8e9c4ba3f412f5c59a6aba...,11025132,2020-10-10 02:58:36 UTC,12400000
4,0x77059144d7fe8c836ba2f232d183749c4bbc85ba8619...,10970089,2020-10-01 12:11:24 UTC,37121
...,...,...,...,...
53403756,0xccce2fabbf127b34560ea3b204b07ce3420f17e92e1b...,11091892,2020-10-20 08:23:41 UTC,100000
53403757,0xb1119c8afbbef1094c281c2c40b34716324458352e9d...,10987204,2020-10-04 04:24:02 UTC,199777
53403758,0x4953f86861fc974057bc9d0db9d5928863def5df7fc1...,11154756,2020-10-29 23:48:45 UTC,79797
53403759,0x75acba19d26287792be9cff3e262661de3417b7ff6f1...,11168365,2020-11-01 02:00:31 UTC,207128
53403760,0x86a0d1f3ad6a77135c51e3c1add0075189ea17765209...,11196747,2020-11-05 10:46:16 UTC,174751

### First Question

In [ ]:
import time
start_time = time.time()
# First Question
dff = tr_data.groupby(["block_number","block_time"]).gas.sum().reset_index()
dff.sort_values(by = "gas", kind='heapsort')
dff.rename(columns={'gas': 'block_gas'}, inplace=True) # dff = first q
# dff.to_csv('/Users/srikaramara/Desktop/first_q.csv')
print("--- %s seconds ---" % (time.time() - start_time))

In [4]:
dff

        block_number               block_time  block_gas
0           10966874  2020-10-01 00:00:10 UTC   15082377
1           10966875  2020-10-01 00:00:11 UTC   12303553
2           10966876  2020-10-01 00:00:31 UTC   10196865
3           10966877  2020-10-01 00:00:36 UTC   12963573
4           10966878  2020-10-01 00:00:37 UTC    6828109
...              ...                      ...        ...
387549      11363265  2020-11-30 23:58:56 UTC    6920514
387550      11363266  2020-11-30 23:58:59 UTC    8923916
387551      11363267  2020-11-30 23:59:20 UTC    9711064
387552      11363268  2020-11-30 23:59:52 UTC    9801279
387553      11363269  2020-11-30 23:59:56 UTC    2932127

[387554 rows x 3 columns]

### Second Question

In [5]:
tmp_1 = final_df.groupby(['block_number','block_time']).size().to_frame('transactions')
# tmp_1.to_csv('/Users/srikaramara/Desktop/second_q.csv')

In [6]:
tmp_1 # Second Question

                                      transactions
block_number block_time
10966874     2020-10-01 00:00:10 UTC            24
10966875     2020-10-01 00:00:11 UTC            44
10966876     2020-10-01 00:00:31 UTC            30
10966877     2020-10-01 00:00:36 UTC            12
10966878     2020-10-01 00:00:37 UTC            37
...                                            ...
11363265     2020-11-30 23:58:56 UTC            30
11363266     2020-11-30 23:58:59 UTC            42
11363267     2020-11-30 23:59:20 UTC            43
11363268     2020-11-30 23:59:52 UTC            41
11363269     2020-11-30 23:59:56 UTC            20

[387554 rows x 1 columns]

### Third Question

In [7]:
# Vectorization using numpy [total_gas - gas]
# Pre-Processing
final_df = final_df.reset_index()
total_gas_np = final_df.loc[:,'total_gas']
gas_np = final_df.loc[:, 'gas']

total_gas = total_gas_np.values
gas = gas_np.values

new_col = np.subtract(total_gas,gas)

final_df['transaction_fee'] = new_col.tolist()

# Question Start
thir_q = final_df.sort_values(by = "transaction_fee", kind='heapsort')
thir_q[['tx_hash','block_number','block_time','transaction_fee']]

KeyError: 'total_gas'

In [20]:
thir_q.to_csv("/Users/srikaramara/Desktop/third_q.csv")

### four Question

In [ ]:
fourth_q = final_df.sort_values(["block_number", "gas_price"],ascending = (True, True), kind = 'heapsort')[['tx_hash','gas_price','block_number','block_time']]
#fourth_q.to_csv('/Users/srikaramara/Desktop/four.csv')
fourth_q

### Fifth Question

In [ ]:
fifth_q = tr_data.sort_values(["block_number", "tx_hash"],ascending = (True, True), kind = 'heapsort')[['from_addr','to_addr','tx_hash','block_number','block_time']]

#fifth_q.to_csv('/Users/srikaramara/Desktop/fifth.csv')
fifth_q

### Sixth Question !!! Look For Faster algorithm

In [ ]:
six_pd = thir_q.loc[thir_q['block_number'] == 11147095] # O(n) Simple Search
# six_pd.to_csv('/Users/srikaramara/Desktop/sixth.csv')
six_pd[['tx_hash','transaction_fee','tx_index_in_block','block_number','block_time']]

### Seventh Question

In [8]:
sev_pd = thir_q.loc[thir_q['tx_hash'] == '0xd9da28fefdcd33f0bfee00b4b159c092c8e1f627d224c2856216d5ccedfdbdf3']

# sev_pd.to_csv('/Users/srikaramara/Desktop/seventh.csv')
sev_pd [['tx_hash','transaction_fee','tx_index_in_block','block_number','block_time']]

NameError: name 'thir_q' is not defined

### Eighth Question

In [15]:
eight_df = final_df.loc[final_df['from_addr'] == '0x47ddfddff875851ba18526cb30e0d35868c8c79a']

eight_df[['from_addr','tx_hash','block_number','block_time','transaction_fee']]

# eight_df.to_csv('/Users/srikaramara/Desktop/eigth.csv')

,from_addr,tx_hash,block_number,block_time,transaction_fee
163020,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0x5c16e1da7dff2f22560ede274e8cdd60c0eb7720133b...,11247424,2020-11-13 05:20:07 UTC,1213273
295313,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0x1fcef9e5767b1ba3992d980f207aa324498315ddefa9...,11174891,2020-11-02 02:13:09 UTC,793859
522288,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0xd258a2f7d2938b0c6f35bc23695221b7371198de6c3f...,11089420,2020-10-19 23:16:35 UTC,1389841
1320365,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0x29ec6b6abbd60ad4b0a97a4f98c83c704ab48b88ee03...,11359134,2020-11-30 08:50:45 UTC,777159
2367892,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0x9d30917bce6459c75d6e3042e419332f037bc04a95ca...,11197128,2020-11-05 12:09:15 UTC,414276
2614070,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0x700246d9eed699a3df17232089c9be545a95d4a889c4...,11242658,2020-11-12 11:56:31 UTC,8812528
2693025,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0x5af40fa012d208b6e5554e151a013a019ed7bfbcb1a3...,11187270,2020-11-03 23:50:10 UTC,631669
2814331,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0x7ac31767f6cddf0d267f31de192c642fa8d42f312809...,11086386,2020-10-19 12:23:42 UTC,3900099
3125522,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0x4ce3a73595dcad81b4bd81afc5c1a8dbf9971dd62af7...,11291538,2020-11-19 23:45:13 UTC,272856
3187839,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0x01b44d48d3e4882ff549d72d22e905519da488deebeb...,11082818,2020-10-18 23:12:42 UTC,5333654
3385609,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0xd39d1bb3736103414fbe6547e66135ee0929e1b06ad5...,11110877,2020-10-23 06:15:03 UTC,571225
3552286,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0xd85af7182b6f2d351eb9cc8c70f0614bbd3b8160522d...,11115289,2020-10-23 22:39:13 UTC,59615
4395980,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0x7c6f096a66fce2cd43365a18e7be6b29d7098f3da76f...,11018617,2020-10-09 02:33:06 UTC,844585
4428025,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0x4fb23eff6be72e9dc6311d4faab31c0bacd1c6d1e1ad...,11136474,2020-10-27 04:46:01 UTC,2107722
4503378,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0xbb036414da53acdb39c7b304e629d5bfa99a2dcf7bc1...,11220705,2020-11-09 02:55:50 UTC,289123
5171206,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0xde277307d0fdb244a5c2f7834ec1105b32aea49c5541...,11170825,2020-11-01 11:10:05 UTC,3152489
5395173,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0xe23b1aff0a06666e0f9fbabf42a707e902d37fa2fc57...,11267006,2020-11-16 05:21:35 UTC,2087434
5467538,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0x020c54d0c4d26def26e9593919aa6ce66f4b925a8315...,10994904,2020-10-05 09:24:55 UTC,1051521
6278914,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0x42cc3e7a929d463425a69b45d1ec68d8c21c5f20b074...,11242340,2020-11-12 10:46:06 UTC,456870
6784385,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0x2172a4ad453dd2d981f4428815e94d9a93d6f8bef4c3...,11221940,2020-11-09 07:30:52 UTC,4526994
8090469,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0x4884f3b0e277c1b0c856eb3375e3142e11af2cedca18...,11220663,2020-11-09 02:44:21 UTC,142848
8392458,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0xa881a6c339af218788548162ec01c3c421e60e4c1970...,11291344,2020-11-19 23:00:02 UTC,656738
9611061,0x47ddfddff875851ba18526cb30e0d35868c8c79a,0x69ce930506d4bb72588cc22a25fceaa5f9131c0f4920...,11151654,2020-10-29 12:25:06 UTC,1395550

### Nineth Question

In [16]:
nineth_df = final_df.loc[final_df['to_addr'] == '0x7a250d5630b4cf539739df2c5dacb4c659f2488d']

nineth_df[['from_addr','tx_hash','block_number','block_time','transaction_fee']]

# nineth_df.to_csv('/Users/srikaramara/Desktop/nineth_df.csv')

,from_addr,tx_hash,block_number,block_time,transaction_fee
6,0x7ef85de60effb1ae1f2b50c88592804732bd89dc,0x9f90a0a702ae43d38af434b8756acbbfdd916cc645ae...,11323968,2020-11-24 23:16:59 UTC,1750457
57,0x164ed0df02b3747315b50b806b79962ad9517578,0x1d2cd6d5ee69f207c3b6e691b1b3c1ebb5b73a4c9c62...,11028940,2020-10-10 17:07:57 UTC,4053408
91,0xaf996125e98b5804c00ffdb4f7ff386307c99a00,0xa0b1fa8f138dfee252432494c69f7b214aab54959552...,11018435,2020-10-09 01:49:53 UTC,7201926
102,0xc0bf97bffa94a50502265c579a3b7086d081664b,0xf9e41c6ad07e9a7cc1c4b5ac28f4403c93828da8c338...,11199421,2020-11-05 20:32:31 UTC,1015914
114,0x1d4b2b2a2ca8762410801b51f128b73743439e39,0x348661809928583ab3c02593393b3e93aaf9415c3689...,11195956,2020-11-05 07:57:28 UTC,3566321
...,...,...,...,...,...
10318856,0xa4f7eb4b5045f3ff53628879b570ab9d20abbc3d,0x81831da7addadc258666c6a1d216d5b98274d6160eb6...,11129007,2020-10-26 01:05:16 UTC,10059689
10318876,0x4ddae4cb4aa7e7dc400153cb55b17397e5f577c9,0x0ae442d872527237d0fe1f5a574f6d71acad1bdfc26e...,11029530,2020-10-10 19:16:48 UTC,5525694
10318881,0x5c56bf84dcbb1d3f9646528a68520b7e21791ddd,0xf0eb3057c66d2c5626644537b6bcb110d2fa88aec44f...,11272393,2020-11-17 01:19:23 UTC,8864069
10318887,0xfd29420060464b69f2e1804b685354c31687121e,0xa009b3a39a9a970a1e3bd1679ca5570dc861795fa168...,11249932,2020-11-13 14:40:09 UTC,712570
10318908,0xb6825a020402f0ec2649d05aa22e65f9ec3198bb,0xbe2e3def6038d2cdeb9364b0033554dea50931afee3a...,11150415,2020-10-29 07:51:56 UTC,11480741

### Tenth Question

In [19]:
from_addr = '0xcfa770b0f8970286c839724f94d46db8a71be39a'
mx = tr_data.loc[tr_data['from_addr'] == from_addr]['token_qty'].max()
mn = tr_data.loc[tr_data['from_addr'] == from_addr]['token_qty'].min()

d = {'from_addr': from_addr, 'max_token_transfer': [mx], 'min_token_tranfer': [mn]}
tenth_pd = pd.DataFrame(data=d)
# tenth_pd.to_csv('/Users/srikaramara/Desktop/tenth_df.csv')

In [20]:
tenth_pd

,from_addr,max_token_transfer,min_token_tranfer
0,0xcfa770b0f8970286c839724f94d46db8a71be39a,4,0