In [2]:
import pandas as pd
import numpy as np
import csv

In [3]:
tr_data = pd.read_csv('/Users/srikaramara/transactions/tx_transfers_10-11-2020_etherum_tx_csv-000000000025.csv', sep=',')

# First Question
first_ques = tr_data.sort_values(by = "gas")

In [4]:
first_ques[["block_number","block_time","gas"]]

         block_number               block_time       gas
809119       11164702  2020-10-31 12:42:46 UTC     23639
849119       11120479  2020-10-24 17:39:45 UTC     24152
355200       11193967  2020-11-05 00:28:33 UTC     24728
1474004      11207203  2020-11-07 01:07:09 UTC     24728
154374       11045507  2020-10-13 05:50:43 UTC     27061
...               ...                      ...       ...
298309       11308904  2020-11-22 15:44:01 UTC  12428846
126058       11308904  2020-11-22 15:44:01 UTC  12428846
12486        11241128  2020-11-12 06:10:30 UTC  12450251
832164       11330883  2020-11-26 00:53:57 UTC  12462405
608478       11070381  2020-10-17 01:13:45 UTC  12499867

[1740577 rows x 3 columns]

In [5]:
# Second_question

blk_no = tr_data.groupby(['block_number']).size()

In [6]:
blk_no

block_number
10966874    3
10966875    5
10966876    6
10966877    2
10966878    3
           ..
11363265    6
11363266    4
11363267    9
11363268    8
11363269    2
Length: 376649, dtype: int64

In [7]:
# Third Question ~ ~ gas price = Transaction fee ??
tr_fee_dec = tr_data.sort_values(by = "gas_price")

In [8]:
tr_fee_dec

,tx_hash,from_addr,to_addr,block_number,token_qty,block_time,block_hash,gas,gas_price,tx_index_in_block,total_gas
1551919,0x19c7698abc5cda82359f762fa6852bd48a5612ae1ad8...,0xb202e6896f6c2652b2d695f959d8b895f52f1530,0xe70f6e65ecd4f443a31e30eaf07dc94b7efd88a1,10986800,106994000,2020-10-04 02:54:44 UTC,0xd737e89951cb48a8665b31d6b29bb95d5cf61a24bbcb...,60000,0,5,157266
1734756,0x3ed514bc836579adebef77b0d20428ff128dcc4171f8...,0xa842fedd74c709d9c1685dedef6772f167015a3d,0xe70f6e65ecd4f443a31e30eaf07dc94b7efd88a1,11060321,4242100000,2020-10-15 12:21:37 UTC,0x7d2aea9b927e4c4a59611297d17fca8fccad31062501...,60000,0,0,26209
127731,0xb0842bd5bf84ff52f28e25cca923fcabc3db12512dfb...,0x43d608bced99107ccc0c52046c0e414ce1f9b1bd,0xe70f6e65ecd4f443a31e30eaf07dc94b7efd88a1,10986800,213995000,2020-10-04 02:54:44 UTC,0xd737e89951cb48a8665b31d6b29bb95d5cf61a24bbcb...,60000,0,1,52430
1014544,0x29a838a807b974acf13e07083c5e7b2ec1d53c5f5e82...,0x43d608bced99107ccc0c52046c0e414ce1f9b1bd,0xe70f6e65ecd4f443a31e30eaf07dc94b7efd88a1,11132209,230450000,2020-10-26 13:08:54 UTC,0xdab4f62257639a9fad7f7c303dad30567757564209ab...,60000,0,1,52430
694136,0x81bfb6a1b657bfa6dda6258a3419cee19c9eae11a0f6...,0x611cde65dea90918c0078ac0400a72b0d25b9bb1,0xd9e1ce17f2641f24ae83637ab66a2cca9c378b9f,10977762,8056811514490896866,2020-10-02 16:48:26 UTC,0xe32508230187d58b0c8f0372e06df8f71071178f6def...,2500000,3,0,265512
...,...,...,...,...,...,...,...,...,...,...,...
817649,0x74c84778295dd7380ae428f6ac96ee255908f643f39a...,0x0000000071e801062eb0544403f66176bba42dc0,0x4d96369002fc5b9687ee924d458a7e5baa5df34e,11302532,98952143554687500288,2020-11-21 16:25:04 UTC,0xc384c46bd18afc11d334162ebe77f324cfe271d0a753...,150000,37983009445935,20,511369
922157,0xeeb227633df5b4965e83807aed4bc5c8b73b069c88f7...,0x0d4a11d5eeaac28ec3f61d100daf4d40471f1852,0x0000000000007f150bd6f54c40a34d7c3d5e9f56,11129521,614187655618020969323,2020-10-26 03:03:51 UTC,0x18b52d97be1af9e7f2962a63340efdcaf81af939003a...,531018,42553307387358,3,275542
403144,0x3802cd8d3ca71a46344eea61131a5303816c08487ef8...,0x00000000553a85582988aa8ad43fb7dda2466bc7,0xa3b896827d4b27c6b9a5942af9458d35e1868357,11069177,17459291715336898560,2020-10-16 20:45:28 UTC,0xde95555d5483390177a59586bbfda776fcb091ba7739...,529622,53335210929321,0,214859
1375058,0x39bd465cddcc9cb2cf498e31d36624b98baff83fbeb5...,0x7ba9b94127d434182287de708643932ec036d365,0x879c2ee5adc372d0542d65d80ebfe647ac1a5f10,11278377,240000000000000000000000,2020-11-17 23:23:21 UTC,0xe626a34274a45fb0c080d3bfa0e4885ab875bfa7a25f...,157190,100000000000000,0,117616
312220,0xf3d1dbca2e82c6942d19581e935de8dd567158e8a029...,0x443d2f2755db5942601fa062cc248aaa153313d3,0x278db156bc09d4f0c12960561a682af461b3d3b0,11230722,940426075443552790483121,2020-11-10 16:00:02 UTC,0xf79f8c22fa7330b910a1a2199066f80720f779790ec0...,3000000,125130000000000,0,415432